/*Icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

:root{
    --primary:#111B54;
    --light: #ffffff;
    --grey: #efefef;
}

body {
    overflow: hidden;
    color: var(--primary);
}

a{
    text-decoration: none;
}


.bg-primary {background-color: var(--primary) !important;}

#sidebar-container{
    min-height: 100vh;
}

#sidebar-container .logo{
    padding: .875rem 1.25rem;
}

#sidebar-container .menu{
    width: 18rem;
}

.masthead {
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 37, 37, 0.5);
}

@media (max-width: 768px){
    .masthead{
        min-height: 30vh;
    }
}
